langchain==0.3.11
langchain-chroma==0.2.4
langchain-community==0.3.0
langchain-openai==0.2.14
langchain-text-splitters==0.3.0
langgraph==0.2.20
langfuse>=2.45.0,<3
openai
chromadb
tiktoken
python-dotenv
pandas
jupyter
unstructured
markdown